In [1]:
import pandas as pd

# Read the data

In [2]:
df = pd.read_csv(f"../../data/coronavirus-covid-19-pandemic-usa-counties.csv", sep=";")

FileNotFoundError: [Errno 2] No such file or directory: '../../data/coronavirus-covid-19-pandemic-usa-counties.csv'

In [3]:
df.head()

   Admin 2 FIPS Code Province/State  ... Total Confirmed                  location
0            12119.0        Florida  ...               0   28.70181754,-82.0794267
1            13153.0        Georgia  ...               0  32.45802497,-83.66879087
2            13227.0        Georgia  ...               0  34.46589159,-84.46406611
3            13303.0        Georgia  ...               0  32.96711864,-82.79357039
4            16003.0          Idaho  ...               0  44.89333571,-116.4545247

[5 rows x 7 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3099180 entries, 0 to 3099179
Data columns (total 7 columns):
 #   Column                                      Dtype
---  ------                                      -----
 0   Admin 2 FIPS Code                           float64
 1   Province/State                              object
 2   Admin 2 Level (City/County/Borough/Region)  object
 3   Date                                        object
 4   Total Death                                 int64
 5   Total Confirmed                             int64
 6   location                                    object
dtypes: float64(1), int64(2), object(4)
memory usage: 165.5+ MB

## Validate the data

In [6]:
df.isnull().sum()

Admin 2 FIPS Code                             9420
Province/State                                   0
Admin 2 Level (City/County/Borough/Region)    5652
Date                                             0
Total Death                                      0
Total Confirmed                                  0
location                                         0
dtype: int64

In [7]:
# show sample null data for each column with null

df[df["Admin 2 FIPS Code"].isnull()].head()

     Admin 2 FIPS Code  ...                  location
30                 NaN  ...                   0.0,0.0
89                 NaN  ...  37.85447192,-111.4418764
202                NaN  ...  37.85447192,-111.4418764
256                NaN  ...          39.0997,-94.5786
349                NaN  ...                   0.0,0.0

[5 rows x 7 columns]

In [8]:
# replace NaN of Admin 2 FIPS Code from location
nan_data = df[df["Admin 2 FIPS Code"].isnull()]
nan_data

         Admin 2 FIPS Code  ...                  location
30                     NaN  ...                   0.0,0.0
89                     NaN  ...  37.85447192,-111.4418764
202                    NaN  ...  37.85447192,-111.4418764
256                    NaN  ...          39.0997,-94.5786
349                    NaN  ...                   0.0,0.0
...                    ...  ...                       ...
3096406                NaN  ...  38.99617072,-110.7013958
3096478                NaN  ...                   0.0,0.0
3096540                NaN  ...  41.27116049,-111.9145117
3097011                NaN  ...  41.52106798,-113.0832816
3098476                NaN  ...  37.85447192,-111.4418764

[9420 rows x 7 columns]

In [10]:
df[df["Admin 2 Level (City/County/Borough/Region)"].isnull()].head()

      Admin 2 FIPS Code  ...          location
174                69.0  ...  15.0979,145.6739
674             99999.0  ...           0.0,0.0
1149               66.0  ...  13.4443,144.7937
1562            88888.0  ...           0.0,0.0
1899               60.0  ...  -14.271,-170.132

[5 rows x 7 columns]


# Time series

In [11]:
df["Date"] = pd.to_datetime(df["Date"])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3099180 entries, 0 to 3099179
Data columns (total 7 columns):
 #   Column                                      Dtype
---  ------                                      -----
 0   Admin 2 FIPS Code                           float64
 1   Province/State                              object
 2   Admin 2 Level (City/County/Borough/Region)  object
 3   Date                                        datetime64[ns]
 4   Total Death                                 int64
 5   Total Confirmed                             int64
 6   location                                    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 165.5+ MB

In [13]:
df.head()

   Admin 2 FIPS Code Province/State  ... Total Confirmed                  location
0            12119.0        Florida  ...               0   28.70181754,-82.0794267
1            13153.0        Georgia  ...               0  32.45802497,-83.66879087
2            13227.0        Georgia  ...               0  34.46589159,-84.46406611
3            13303.0        Georgia  ...               0  32.96711864,-82.79357039
4            16003.0          Idaho  ...               0  44.89333571,-116.4545247

[5 rows x 7 columns]

In [14]:
df["Date"].min()

Timestamp('2020-01-22 00:00:00')

In [15]:
df["Date"].max()

Timestamp('2022-08-20 00:00:00')

# 1. How many days of data do we have?

In [16]:
df["Date"].max() - df["Date"].min()

Timedelta('941 days 00:00:00')

# 2. How many province/state do we have?

In [17]:
df["Province/State"].nunique()

58

# Show the list of province/state

In [18]:
df["Province/State"].unique()

array(['Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maryland', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Puerto Rico', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Virginia', 'West Virginia', 'Wisconsin',
       'Alabama', 'Alaska', 'Arkansas', 'California', 'Colorado', 'Maine',
       'Northern Mariana Islands', 'Vermont', 'Washington', 'Wyoming',
       'Arizona', 'Massachusetts', 'New Hampshire', 'Rhode Island',
       'Connecticut', 'Grand Princess', 'Hawaii', 'Delaware', 'Nevada',
       'Guam', 'District of Columbia', 'Diamond Princess',
       'American Samoa', 'Virgin Islands'], dtype=object)