In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../data/covid19_usa.csv')
data.set_index('id', inplace=True)
data.head()

,Date,FIPS,lat,lon,State,Abbr,City/County/Borough/Region,infected total,death total
id,,,,,,,,,
NY0000000,2020-06-22,36103.0,40.883201,-72.801217,New York,NY,Suffolk,41010,1965
NY0000001,2020-06-22,36105.0,41.715795,-74.763946,New York,NY,Sullivan,1438,45
NC0000002,2020-06-22,37133.0,34.726074,-77.429082,North Carolina,NC,Onslow,221,3
ND0000003,2020-06-22,38001.0,46.096869,-102.528540,North Dakota,ND,Adams,0,0
OH0000004,2020-06-22,39063.0,41.002505,-83.668389,Ohio,OH,Hancock,63,5

In [3]:
data.isna().sum()

Date                             0
FIPS                          7300
lat                              0
lon                              0
State                            0
Abbr                             0
City/County/Borough/Region       0
infected total                   0
death total                      0
dtype: int64

In [4]:
# show null rows of FIPS
data[data['FIPS'].isna()] # look a bit weird, but it's ok for now...

,Date,FIPS,lat,lon,State,Abbr,City/County/Borough/Region,infected total,death total
id,,,,,,,,,
UT0000161,2020-06-23,NaN,38.996171,-110.701396,Utah,UT,Southeast Utah,31,0
UT0000831,2020-06-16,NaN,41.271160,-111.914512,Utah,UT,Weber-Morgan,539,9
UT0001232,2020-06-14,NaN,39.372319,-111.575868,Utah,UT,Central Utah,75,0
UT0001619,2021-08-10,NaN,41.521068,-113.083282,Utah,UT,Bear River,23694,119
MI0002598,2021-07-16,NaN,0.000000,0.000000,Michigan,MI,Michigan Department of Corrections (MDOC),26760,153
...,...,...,...,...,...,...,...,...,...
MO2399602,2021-11-26,NaN,39.099700,-94.578600,Missouri,MO,Kansas City,66830,864
UT2399989,2021-11-02,NaN,39.372319,-111.575868,Utah,UT,Central Utah,13863,110
UT2400217,2021-11-04,NaN,40.124915,-109.517442,Utah,UT,TriCounty,8476,70
MA2400586,2022-02-19,NaN,41.406747,-70.687635,Massachusetts,MA,Dukes and Nantucket,6712,14
UT2401697,2022-02-22,NaN,37.854472,-111.441876,Utah,UT,Southwest Utah,62930,585

In [5]:
# show null rows of City/County/Borough/Region
data[data['City/County/Borough/Region'].isna()] # look a bit weird, but it's ok for now...

Empty DataFrame
Columns: [Date, FIPS, lat, lon, State, Abbr, City/County/Borough/Region, infected total, death total]
Index: []

***Conclusion:*** *We can see that there are some null values in the data, but it's ok for now...*

### Missing values is not a problem for now, but we will need to deal with it later.

In [6]:
data.to_csv('../../data/clean_data.csv')